<h1><%= @description %></h1>

<h3>Let's determine the price of your package</h3>

<form action="/output">
  <div class="form-group">
    <label for="Length">Length</label>
    <input id="length" type="text" name="length">
  </div>
  <div class="form-group">
    <label for="Width">Width</label>
    <input id="width" type="text" name="width">
  </div>
  <div class="form-group">
    <label for="Height">Height</label>
    <input id="height" type="text" name="height">
  </div>
  <div class="form-group">
    <label for="Weight">Weight</label>
    <input id="weight" type="text" name="weight">
  </div>
  <button type="submit" class="btn-info">Submit Dimensions and Weight Here!</button>
</form>
